In [1]:
import csv
import numpy as np
import pandas as pd
chinese = pd.read_csv('C:/Users/권나은/OneDrive/바탕 화면\china.csv',  encoding = "cp949")
chinese

,년월,이용자 구분,시도명,읍면동명,업종,방문인구,이용자수,이용금액,데이터기준일자
0,Jan-18,중국인관광객,서귀포시,남원읍,쇼핑,179846.027,744,4.836000e+06,2020-12-15
1,Jan-18,중국인관광객,제주시,연동,문화/레져,632381.932,744,3.943200e+06,2020-12-15
2,Jan-18,중국인관광객,제주시,연동,소매,632381.932,2240928,5.050000e+11,2020-12-15
3,Jan-18,중국인관광객,제주시,연동,쇼핑,632381.932,5039112,4.770000e+12,2020-12-15
4,Jan-18,중국인관광객,제주시,연동,숙박,632381.932,178560,3.124794e+10,2020-12-15
...,...,...,...,...,...,...,...,...,...
2136,Dec-18,중국인관광객,서귀포시,표선면,문화/레져,64744.126,4464,2.663520e+08,2020-12-15
2137,Dec-18,중국인관광객,서귀포시,표선면,소매,64744.126,400272,1.080000e+11,2020-12-15
2138,Dec-18,중국인관광객,서귀포시,표선면,쇼핑,64744.126,5952,1.702198e+08,2020-12-15
2139,Dec-18,중국인관광객,제주시,삼도1동,소매,18223.999,3720,6.276384e+08,2020-12-15
2140,Dec-18,중국인관광객,제주시,화북동,쇼핑,6393.284,4431,1.970719e+08,2020-12-15

In [9]:
chinese
chinese_data=chinese.sort_values('읍면동명')
chinese_data
c=chinese_data[chinese_data['업종']=='교통'].index
c_=chinese_data.drop(c)
ch=chinese_data[chinese_data['업종']=='기타'].index
c__=c_.drop(ch)
chi=chinese_data[chinese_data['업종']=='유흥'].index
c___=c__.drop(chi)
chin=chinese_data[chinese_data['업종']=='전체'].index
china_=c___.drop(chin)
chinaa=chinese_data[chinese_data['업종']=='쇼핑'].index
chinaaa=china_.drop(chinaa)
chinaaa

,년월,이용자 구분,시도명,읍면동명,업종,방문인구,이용자수,이용금액,데이터기준일자
451,Mar-18,중국인관광객,제주시,건입동,소매,41096.785,9646,1.386130e+09,2020-12-15
109,Jan-18,중국인관광객,제주시,건입동,숙박,30589.440,7440,1.182320e+09,2020-12-15
439,Mar-18,중국인관광객,제주시,건입동,숙박,41096.785,14098,3.740186e+09,2020-12-15
440,Mar-18,중국인관광객,제주시,건입동,식음료,41096.785,88298,6.216105e+09,2020-12-15
1376,Aug-18,중국인관광객,제주시,건입동,숙박,104140.473,49848,1.334849e+10,2020-12-15
...,...,...,...,...,...,...,...,...,...
1372,Aug-18,중국인관광객,서귀포시,효돈동,식음료,3158.742,1084,9.051400e+06,2020-12-15
1773,Oct-18,중국인관광객,서귀포시,효돈동,식음료,8660.580,1442,4.542300e+07,2020-12-15
270,Feb-18,중국인관광객,서귀포시,효돈동,소매,2332.337,468,7.956000e+06,2020-12-15
271,Feb-18,중국인관광객,서귀포시,효돈동,식음료,2332.337,936,1.591200e+07,2020-12-15
1926,Nov-18,중국인관광객,서귀포시,효돈동,식음료,5929.939,1342,6.240300e+07,2020-12-15

In [10]:
china=chinaaa.groupby(['읍면동명','업종'])["이용금액"].sum()
china

읍면동명  업종
건입동   문화/레져    2.236200e+08
      소매       9.419984e+10
      숙박       1.155397e+11
      식음료      1.671060e+11
구좌읍   문화/레져    2.758987e+09
                   ...
한림읍   식음료      1.387499e+10
화북동   소매       7.584000e+07
      식음료      3.236150e+08
효돈동   소매       2.932800e+07
      식음료      2.802216e+08
Name: 이용금액, Length: 150, dtype: float64

In [11]:
china1=chinaaa.groupby(['읍면동명','업종'])["이용자수"].sum()
china1

읍면동명  업종
건입동   문화/레져       3672
      소매        474982
      숙박        398170
      식음료      2319554
구좌읍   문화/레져      41928
                ...
한림읍   식음료       337752
화북동   소매          1464
      식음료         5603
효돈동   소매          2187
      식음료         8580
Name: 이용자수, Length: 150, dtype: int64

In [12]:
china_dataframe=pd.concat([china,china1], axis=1)
china_dataframe
china_dataframe['1인당 이용금액']=china_dataframe['이용금액']/china_dataframe['이용자수']
china_dataframe

                    이용금액     이용자수       1인당 이용금액
읍면동명 업종
건입동  문화/레져  2.236200e+08     3672   60898.692810
     소매     9.419984e+10   474982  198322.972660
     숙박     1.155397e+11   398170  290176.770837
     식음료    1.671060e+11  2319554   72042.281283
구좌읍  문화/레져  2.758987e+09    41928   65802.976531
...                  ...      ...            ...
한림읍  식음료    1.387499e+10   337752   41080.416400
화북동  소매     7.584000e+07     1464   51803.278689
     식음료    3.236150e+08     5603   57757.451365
효돈동  소매     2.932800e+07     2187   13410.150892
     식음료    2.802216e+08     8580   32659.860140

[150 rows x 3 columns]